################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TFMS/CopilotIndices/17.13.444.19527/CodeChunks.db
/.vs/TFMS/v17/DocumentLayout.json
/.vs/TFMS/v17/DocumentLayout.backup.json
/.vs/TFMS/v17/.suo
*.vsidx
/.vs/TFMS/FileContentIndex/c3a65bcc-3855-4945-944c-0d42d7b078db.vsidx
/.vs/TFMS/FileContentIndex/5841b9f3-c467-4376-87f7-7f6c7a6a21ef.vsidx
/.vs/TFMS/FileContentIndex/000bd717-67c8-4ed1-9beb-de6ad3aa2e60.vsidx
/.vs/TFMS/DesignTimeBuild/.dtbcache.v2
/.vs/TFMS/FileContentIndex/7d15d3e3-95a9-4fcb-8ede-0c9e5e5f4e54.vsidx
/.vs/TFMS/FileContentIndex/8b190dba-4b85-4029-98c7-cabe077f4934.vsidx
/.vs/TFMS/CopilotIndices/17.13.444.19527/CodeChunks.db-shm
/.vs/TFMS/CopilotIndices/17.13.444.19527/CodeChunks.db-wal
/.vs/TFMS/CopilotIndices/17.13.444.19527/SemanticSymbols.db
/.vs/TFMS/CopilotIndices/17.13.444.19527/SemanticSymbols.db-shm
/.vs/TFMS/CopilotIndices/17.13.444.19527/SemanticSymbols.db-wal
/.vs/ProjectEvaluation/tfms.strings.v9.bin
/.vs/ProjectEvaluation/tfms.metadata.v9.bin
/.vs/ProjectEvaluation/tfms.projects.v9.bin
